<!--Galeria.html-->
<!DOCTYPE html>
<html lang="es">
    <head>
<meta charset="UTF-8">
<title>Galería</title>
<link rel="stylesheet" href="../CSS/index.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    </head>
    <body>

  <!--Header-->

 <header>
    <div class="container">
       <p class="logo">El Taller Digital</p>
     <nav>
        <a href="../index.html">Inicio</a>
        <a href="#">Galería</a>
        <a href="presupuesto.html">Presupuesto</a>
        <a href="contacto.html">Contacto</a>
     </nav>
    </div>
 </header>

<!--Sección main (galeria)!-->

<main>
  <div class="GaleriaTitulo">
    <h1>Galería de Componentes de Ordenador</h1>
    </div>
    <div class="galeria">
      <a data-fancybox="gallery" href="../imagenes/CPU.jpg">
      <img src="../imagenes/CPU.jpg" alt="CPU">
      </a>
      <a data-fancybox="gallery" href="../imagenes/GPU.jpg">
      <img src="../imagenes/GPU.jpg" alt="GPU">
      </a>
      <a data-fancybox="gallery" href="../imagenes/ram.jpg">
      <img src="../imagenes/ram.jpg" alt="Memoria RAM">
      </a>
      <a data-fancybox="gallery" href="../imagenes/motherboard.jpg">
      <img src="../imagenes/motherboard.jpg" alt="Placa Base">
      </a>
      <a data-fancybox="gallery" href="../imagenes/ssd.jpg">
      <img src="../imagenes/ssd.jpg" alt="SSD">
      </a>
      <a data-fancybox="gallery" href="../imagenes/power.jpg">
      <img src="../imagenes/power.jpg" alt="Fuente de poder">
      </a>
    </div>
  </main>

<!--Footer-->

<footer>
    <div class="social">
      <a href="https://facebook.com"><img src="../imagenes/f2.png" alt=""></a></a>
      <a href="https://twitter.com"><img src="../imagenes/x.png" alt=""></a>
      <a href="https://instagram.com"><img src="../imagenes/insta.png" alt=""></a>
    </div>
    <p><a href="#">Aviso Legal</a></p>
  </footer>

 <!--scipt-->

  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
  
    </body>
</html>
 